form {
    background-color: blue;
    color: white;
    width: 500px;
    height: 300px;
    margin: 100px auto 100px;
    padding: 25px;
}

.error{
    color: red;
}

.no-error{
    color: rgb(0, 256, 0);
}....
../
.
.
main
...
////
....
/////
/////
....
//
main
*****
.....
@media screen and (min-width: 740px) {
  .card {
    width: 35rem;
    padding: 0rem 5rem;
  }

  .sneaker img {
    width: 20rem;
  }

  .circle {
    width: 15rem;
    height: 15rem;
  }

  .info h1 {
    font-size: 3rem;
  }

  .info h3 {
    font-size: 1.3rem;
  }
}.
